*{
  overflow-x: hidden;
}


.introJumbotron {
  display: flex;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 10%;
}

.introButton {
  width: 170px;
  padding-left: 2px;
  padding-right: 2px;
  display: block;
  align-items: center;

}

.rightSide>* {
  position: absolute;
  z-index: 1;
}

.profilePic {
  transform: scale(0.50);
  left: 45%;
  top: -5%;
  border-radius: 30%;
}

.watercolour {
  transform: scale(0.94);
  left: 45%;
  top: -7%;
  z-index: 1;

}


.leftSide {
  margin-left: 20%;
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 10%;
}

.mySkills {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  justify-content: space-between;

  align-items: flex-end;
  padding-right: 30%;
  padding-bottom: 20%;
}

.mySkills>:nth-child(1){
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.mySkills>:nth-child(2){
  color: var(--purpleDark);
  font-weight: bold;
  font-size: 3rem;
}

.skillsButton{
  margin-top: 50px;
}


.introName {
  display: flex;
  flex-direction: column;
}

.introName>:nth-child(1) {
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.introName>:nth-child(2) {
  color: var(--purpleDark);
  font-weight: bold;
  font-size: 3rem;
}

.introName>:nth-child(3) {
  color: black;
  font-weight: 100;

}

.card{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;

}

.list-group-item{
  overflow: hidden!important;
  text-align: center;
}

.card-header{
  overflow: hidden!important;
  text-align: center;
}