*{
  overflow-x: hidden;
}

.page{
  max-width: 100%;
}

.introJumbotron {
  display: flex;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 10%;
}

.introButton {
  width: 170px;
  padding-left: 2px;
  padding-right: 2px;
  display: block;
  align-items: center;

}

.rightSide>* {
  position: absolute;
  z-index: 1;
}

.profilePic {
  transform: scale(0.50);
  left: 45%;
  top: -5%;
  border-radius: 30%;
  height: auto;
}

.watercolour {
  transform: scale(0.94);
  left: 45%;
  top: -7%;
  z-index: 1;

}


.leftSide {
  margin-left: 20%;
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 10%;
}

.mySkills {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 10%;
  padding-bottom: 50%;
  vertical-align: top;
}

.mySkills>:nth-child(1){
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.mySkills>:nth-child(2){
  color: var(--purpleDark);
  font-weight: bold;
  font-size: 3rem;
}

.skillsButton{
  margin-top: 10px;
}


.introName {
  display: flex;
  flex-direction: column;
}

.introName>:nth-child(1) {
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.introName>:nth-child(2) {
  color: var(--purpleDark);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0px;
}

.introName>:nth-child(3) {
  color: black;
  font-weight: 100;

}

.card{
  height: auto!important;
  border-radius: 30px!important;
  width: auto!important;
}

.list-group-item{
  overflow: hidden!important;
  text-align: center;
}

.card-header{
  overflow: hidden!important;
  text-align: center;
  background-color: var(--purple)!important;
}

.blur{
  background-color: var(--blue);
  height:200px;
  width: 200px;
  filter: blur(30px);
  border-radius: 40%;
}

.skillsBlur{
  position: relative;
  left: -200px;
  top: -180px;
}

.skillBlueBlur{
  position: relative;
  left:200px;
  top:20px
}

.col{
  height: auto!important;
}