
:root{
  --purple: #ccccff;
  --blue: #d4eaff;
  --blueDark: #d0dcff;
  --turqBlue: #ddffff;
  --purpleDark: #a3a3f7;
}

/* CSS */
.button-74 {
  background-color: var(--blue);
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: var(--purple);
}

.button-74:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}